.section.join-lyca-container {
    background: #1a1b4a;
    text-align: center;
    padding: 0 !important;
    display: flex;
    color: #fff;
    margin: 0 !important;
}

.section.join-lyca-container .join-lyca.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    text-align: center;
}

.join-lyca.block > div:nth-child(1) h1 {
    color: red;
    text-align: center;
    width: 300px;
    margin-top: 0;
    margin-bottom: 0;
}

.join-lyca.block > div:nth-child(2)p {
    width: 1000px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-top: 0;
}


.joinlyca-list {
    display: flex;
    gap: 98px;
    margin-top: 20px;
    margin-bottom: 10px;
}


.joinlyca-list-item img {
    height: auto;
    width: 100px !important;
    max-width: 100px !important;
}

.joinlyca-list-item h3 {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    text-align: center;
}

