.section.join-lyca-container {
    background: #1a1b4a;
    text-align: center;
    padding: 0 !important;
    display: flex;
    color: #fff;
    height: 480px;
    margin: 0 !important;
    justify-content: center;
    position: relative;
    margin-bottom: 200px !important;
}

.join-lyca-wrapper {
    margin: 0 !important;
}

.section.join-lyca-container .join-lyca.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    text-align: center;
}

.join-lyca.block > div:nth-child(1) h1 {
    text-align: center;
    max-width: 800px;
    margin: 25px 1px 1px;
    font-size: 48px;
}

.join-lyca.block > div:nth-child(2) p {
    max-width: 800px;
    margin: 15px auto;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    font-family: GTEestiLCDisplayRegular, sans-serif;
}

.joinlyca-list {
    display: flex;
    justify-content: center;
    gap: 65px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.joinlyca-list-item {
    text-align: center;
    flex: 1 1 calc(50% - 30px);
    max-width: calc(50% - 30px);
}

.joinlyca-list-item img {
    width: 80px !important;
    height: auto;
}

.joinlyca-list-item h3 {
    font-size: 17px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    text-align: center;
    width: 114px;
}

@media (width <= 1024px) {
    .section.join-lyca-container {
        height: 480px;
    }

    .join-lyca.block > div:nth-child(1) h1 {
        font-size: 3rem;
    }

    .join-lyca.block > div:nth-child(2) p {
        font-size: 16px;
    }

    .joinlyca-list-item img {
        width: 70px !important;
    }

    .joinlyca-list-item h3 {
        font-size: 15px;
    }
}

@media (width <= 768px) {
    .join-lyca.block > div:nth-child(1) h1 {
        font-size: 32px;
    }

    .join-lyca.block > div:nth-child(2) p {
        font-size: 15px;
    }

    .joinlyca-list-item img {
        width: 65px !important;
    }

    .joinlyca-list-item h3 {
        font-size: 14px;
    }
}

@media (width <= 430px) {
    .joinlyca-list {
        display: flex;
        justify-content: center;
        gap: 27px;
        margin-bottom: 40px;
    }

    .join-lyca.block > div:nth-child(1) h1 {
        font-size: 26px;
    }

    .join-lyca.block > div:nth-child(2) p {
        font-size: 14px;
    }

    .joinlyca-list-item img {
        width: 60px !important;
    }

    .joinlyca-list-item h3 {
        font-size: 13px;
    }
}

@media (width <= 380px) {
    .joinlyca-list {
        flex-wrap: wrap;
        align-items: center;
        gap: 40px;
    }

    .joinlyca-list-item {
        flex: 1 1 100%;
    }

    .join-lyca.block > div:nth-child(1) h1 {
        font-size: 22px;
    }

    .join-lyca.block > div:nth-child(2) p {
        font-size: 13px;
    }

    .joinlyca-list-item img {
        width: 75px !important;
    }

    .joinlyca-list-item h3 {
        font-size: 12px;
    }
}
