.choose-prepaid-dynamic {
    max-width: 1400px;
    margin: 0 auto;
    padding: 4px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose-prepaid-dynamic p {
    margin: 0;
    font-size: 16px;
    padding: 1px;
    color: #667085;
    text-align: center;
}

.prepaid-list img {
    border-radius: 5px !important;
    position: relative;
}

.choose-prepaid-dynamic h1 {
    margin: 0;
    font-size: 48px;
    color: #384c72;
    text-align: center;
}

.prepaid-list {
    display: grid;
    padding: 20px 0;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    margin-top: 10px;
}

/* first image  */
.prepaid-list-item:nth-child(1) {
    position: relative;
}

.prepaid-list-item:nth-child(2) {
    position: relative;
}

.prepaid-list-item:nth-child(3) {
    position: relative;
}

.prepaid-list .prepaid-list-item:nth-child(1) {
    grid-row: 1 / 2 span;
}

/* 1st dive list-item */
.prepaid-list .prepaid-list-item:nth-child(1) div {
    position: absolute;
    margin-left: 32px;
    top: 21px;
    line-height: 1.2;
}

.prepaid-list .prepaid-list-item:nth-child(1) div p:nth-child(1) {
    font-size: 30px;
    font-weight: 500;
    width: 201px;
    color: #fff;
    text-align: start;
}

.prepaid-list .prepaid-list-item:nth-child(1) div p:nth-child(2) {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    text-align: start;
}

/* 2nd image  */
.prepaid-list .prepaid-list-item:nth-child(2) div {
    position: absolute;
    margin-left: 32px;
    top: 44px;
    line-height: 1.2;
}

.prepaid-list .prepaid-list-item:nth-child(2) div p:nth-child(1) {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    width: 300px;
    text-align: start;
}

.prepaid-list .prepaid-list-item:nth-child(2) div p:nth-child(2) {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    width: 300px;
    text-align: start;
}

/* 3rd image  */
.prepaid-list .prepaid-list-item:nth-child(3) div {
    position: absolute;
    margin-left: 32px;
    top: 44px;
}

.prepaid-list .prepaid-list-item:nth-child(3) div p:nth-child(1) {
    font-size: 30px;
    text-align: start;
    font-weight: 500;
    color: #fff;
    width: 360px;
}

.prepaid-list .prepaid-list-item:nth-child(3) div p:nth-child(2) {
    text-align: start;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    width: 400px;
}

@media (width <= 1024px) {
   .prepaid-list .prepaid-list-item:nth-child(1) div {
    line-height: 1.1;
}

 .prepaid-list .prepaid-list-item:nth-child(2) div {
    line-height: 1.1;
}

 .prepaid-list .prepaid-list-item:nth-child(3) div {
    line-height: 1.1;
}

}


@media (width <= 786px) {
    .choose-prepaid-dynamic {
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Make grid single column */
    .prepaid-list {
        display: grid;
        grid-template-columns: 1fr; /* 1 item per row */
        gap: 20px;
        width: 100%;
    }

    .prepaid-list .prepaid-list-item:nth-child(1) div p:nth-child(1) {
        font-size: 19px;
    }

    .prepaid-list .prepaid-list-item:nth-child(1) div p:nth-child(2) {
        font-size: 14px;
    }

    .prepaid-list .prepaid-list-item:nth-child(2) div p:nth-child(1) {
        font-size: 19px;
    }

    .prepaid-list .prepaid-list-item:nth-child(2) div p:nth-child(2) {
        font-size: 14px;
    }

    .prepaid-list .prepaid-list-item:nth-child(3) div p:nth-child(1) {
        font-size: 19px;
    }

    .prepaid-list .prepaid-list-item:nth-child(3) div p:nth-child(2) {
        font-size: 14px;
    }

    .prepaid-list-item {
        width: 100%;
    }

    .prepaid-list-item div {
        margin-top: 10px;
        text-align: center;
    }

    .prepaid-list .prepaid-list-item:nth-child(1) div {
        position: absolute;
        top: 0;
        margin-left: 14px;
    }

    .prepaid-list .prepaid-list-item:nth-child(2) div {
        position: absolute;
        top: 0;
        margin-left: 14px;
    }

    .prepaid-list .prepaid-list-item:nth-child(3) div {
        top: 0;
        margin-left: 14px;
    }

    .prepaid-list-item:nth-child(1) img {
        border-radius: 5px !important;
        height: 350px;
        width: 1000px;
        object-fit: cover;
    }

    /* accesing each image directly image 2 */
    .prepaid-list-item:nth-child(2) img {
        border-radius: 5px !important;
        height: 243px;
        width: 1000px;
        object-fit: cover;
    }

    /* accesing each image directly image 3 */
    .prepaid-list-item:nth-child(3) img {
        border-radius: 5px !important;
        height: 243px;
        width: 1000px;
        object-fit: cover;
    }
}

@media (width <= 430px) {
    .choose-prepaid-dynamic {
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .choose-prepaid-dynamic h1 {
        margin: 0;
        font-size: 24px;
    }

    .choose-prepaid-dynamic p {
        margin: 0;
        font-size: 13px;
    }
    
    /* accesing each image directly image 1 */
     .prepaid-list-item:nth-child(1) img {
        border-radius: 5px !important;
        object-fit: cover;
    }

    /* accesing each image directly image 2 */
    .prepaid-list-item:nth-child(2) img {
        border-radius: 5px !important;
        object-fit: cover;
    }

    /* accesing each image directly image 3 */
    .prepaid-list-item:nth-child(3) img {
        border-radius: 5px !important;
        object-fit: cover;
    }

}
