.prepaid-list {
        display: grid;
    padding: 20px 10px;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

.prepaid-list .prepaid-list-item:nth-child(1) img {
    border-radius: 12px;
    grid-row: 1 / span 2;
    position: relative;
}

.prepaid-list .prepaid-list-item:nth-child(2) {
    background-color: blue;
    height: 355px;
}