.sign-up-wrapper {
    padding: 10px 0 !important;
    margin: 0;
    width: 100%;
    max-width: 100% !important;
    background-color: #eff8ff;
}

.signup-wrapper {
    padding: 24px;
}

.signup-heading h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    color: #35445c;
    margin-bottom: 30px;
}

.signup-form {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.signup-input {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 6px;
    flex: 1;
}

.signup-button {
    background: #0c8; /* green button */
    color: #fff;
    border: none;
    margin: 0;
    padding: 1px 25px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
    white-space: nowrap;
}

.signup-button:hover {
    background: #08dc7d;
    color: #21254f;
}

.signup-description {
    font-size: 15px;
    text-align: left;
    color: #667085;
    width: 870px;
    margin: 0 auto;
    line-height: 1.6;
}

/* Responsive */
@media (width <= 768px) {
    .signup-heading h1 {
        font-size: 30px;
    }

    .signup-form {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .signup-input {
        padding: 12px 0;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 6px;
        flex: 1;
        width: 100%;
    }

    .signup-button {
        width: 100%;
        margin: auto;
    }

    .signup-description {
        width: 100%;
    }
}
