.section.country-carousel-container {
    margin: 0;
    padding: 0;
}

.country-carousel-wrapper {
    padding: 0 !important;
    margin: 0;
}

.country-carousel {
    padding: 10px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.carousel-title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 43px;
    color: #344054;
}

.carousel-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.carousel-arrow {
    width: 32px;
    height: 32px;
    cursor: pointer;
    flex-shrink: 0;
    z-index: 2;
}

.countries-wrapper {
    display: flex;
    overflow: hidden;
    flex: 1;
}

.countries-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
    gap: 40px; /* same as carousel-row gap for spacing between items */
}

.country-item {
    flex: 0 0 calc(14.7%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.country-flag {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.country-name {
    font-size: 15px;
    font-weight: 500;
    color: #344054;
}

/* Medium (3 visible) */
@media (width <= 1024px) {
    .country-item {
        flex: 0 0 calc(12%);
    }
}

/* Small (2 visible) */
@media (width <= 786px) {
    .country-item {
        flex: 0 0 calc(14%);
    }

    .carousel-title {
        font-size: 30px;
    }
}

@media (width <= 430px) {
    .carousel-title {
        font-size: 20px;
        margin: 0;
    }

    .country-carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .countries-wrapper {
        display: none;
    }

    .carousel-arrow.left-arrow {
        display: none;
    }

    .carousel-arrow.right-arrow {
        width: 28px;
        height: auto;
        transform: rotate(90deg);
        cursor: pointer;
        flex-shrink: 0;
        z-index: 2;
    }
}
