.whylyca-wrapper {
    margin: 0 !important;
    max-width: 100% !important;
    background: #f2f9ff;
    padding: 16px 20px !important;
    text-align: center;
}

.section.whylyca-container {
    margin: 0 !important;
    padding: 0 !important;
}

/* Section Heading */
.whylyca-wrapper h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 17px;
    margin-top: 0;
    color: #384c72;
}

/* List Container */
.whylyca-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Item */
.whylyca-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

/* Icons */
.whylyca-item img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 20px;
}

.whylyca-list .whylyca-item:nth-child(1) {
    line-height: 1;
    font-weight: 500;
    color: #384c72;
}

.whylyca-list .whylyca-item:nth-child(2) {
    line-height: 1;
    font-weight: 500;
    color: #384c72;
}

.whylyca-list .whylyca-item:nth-child(3) {
    line-height: 1;
    font-weight: 500;
    color: #384c72;
}

.whylyca-list .whylyca-item:nth-child(4) {
    line-height: 1;
    font-weight: 500;
    color: #384c72;
}

/* Text */
.whylyca-item p strong {
    font-size: 15px;
    color: #384c72;
    line-height: 1.6;
    margin: 0;
    font-weight: 700;
}

.whylyca-item p {
    font-size: 16px;
    color: #384c72;
    line-height: 1.6;
    margin: 0;
    font-weight: 500;
}

/* Responsive: 786px and below → 2 columns (top 2, bottom 2) */
@media (width <= 786px) {
    .whylyca-list {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
    }

    .whylyca-wrapper h1 {
        font-size: 29px;
    }

    .whylyca-item p {
        font-size: 15px;
    }
}

/* Responsive: 425px and below → 1 column */
@media (width <= 430px) {
    .whylyca-list {
        grid-template-columns: 1fr;
    }

    .whylyca-wrapper h1 {
        font-size: 25px;
    }

    .whylyca-item p {
        font-size: 13px;
    }
}
