.whylyca-wrapper {
    margin-top: -40px !important;
    max-width: 100% !important;
    background: #f2f9ff;
    padding: 16px 10px !important;
    text-align: center;
}

.section.whylyca-container {
    margin: 0 !important;
    padding: 0 !important;
    
}

.whylyca-wrapper h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 17px;
    margin-top: 15px;
    color: #384c72;
}

.whylyca-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 11px;
    max-width: 1200px;
    margin: 0 auto;
}

.whylyca-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.whylyca-item img {
    width: 102px;
    height: auto;
    object-fit: contain;
    margin-bottom: 20px;
}

.whylyca-list .whylyca-item:nth-child(1) {
    line-height: 1;
    font-weight: 500;
    color: #384c72;
}

.whylyca-list .whylyca-item:nth-child(2) {
    line-height: 1;
    font-weight: 500;
    color: #384c72;
}

.whylyca-list .whylyca-item:nth-child(3) {
    line-height: 1;
    font-weight: 500;
    color: #384c72;
}

.whylyca-list .whylyca-item:nth-child(4) {
    line-height: 1;
    font-weight: 500;
    color: #384c72;
}

/* Text */
.whylyca-item p strong {
    font-size: 19px;
    color: #384c72;
    line-height: 1.6;
    margin: 0;
    font-weight: 700;
}

.whylyca-item p {
    font-size: 15px;
    color: #384c72;
    line-height: 1.6;
    margin: 0;
    font-weight: 500;
}

@media (width <= 786px) {
    .whylyca-list {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }

    .whylyca-wrapper h1 {
        font-size: 29px;
    }

    .whylyca-item p {
        font-size: 15px;
    }
}

@media (width <= 430px) {
    .whylyca-list {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .whylyca-wrapper h1 {
        font-size: 25px;
    }

    .whylyca-item p {
        font-size: 13px;
    }

    .whylyca-item p strong {
        font-size: 18px;
        color: #384c72;
        line-height: 1.6;
        margin: 0;
        font-weight: 700;
    }
}
