.footer-wrapper {
    background-color: #1b2141;
    padding: 20px 40px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    margin-top: -40px;
}

.footer-wrapper div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-left: 14px;
}

.footer-wrapper > div .default-content-wrapper {
    flex: 1 1 auto;
    flex-direction: column;
}

.footer-wrapper .footer h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #fff;
    font-family: GTEestiLCDisplayMedium, sans-serif;
}

.footer-wrapper .footer p {
    margin: 3px;
}

.footer-wrapper .footer p a,
.footer-wrapper .footer .default-content-wrapper a {
    font-size: 15px;
    font-weight: 400;
    font-family: GTEestiLCDisplayMedium, sans-serif;
    color: #fff;
    text-decoration: none;
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    display: inline !important;
    transition: color 0.2s ease-in-out;
}

.footer-wrapper .footer picture img {
    display: block;
    width: 160px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
}

/* Responsive: stack only on mobile */
@media (width <= 768px) {
    .footer-wrapper div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        width: fit-content;
    }

    .footer-wrapper .footer > .default-content-wrapper {
        max-width: 100%;
    }

    .footer.block > div .section:last-child {
        margin-top: 30px;
    }
}

@media (width <= 430px) {
    p.button-container {
        display: none;
    }

    .footer-wrapper {
        background-color: #1b2141;
        padding: 20px 0;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: #fff;
    }

    .default-content-wrapper h4 {
        text-align: center;
        margin-bottom: 20px;
        margin-left: 28px;
    }

    .footer-wrapper .footer h4 {
        font-size: 16px;
    }

    .footer-wrapper .footer picture img {
        display: block;
        width: 105px;
    }

    .footer.block > div .section:nth-child(5) .default-content-wrapper {
        display: flex;
        flex-direction: row;
        padding: 20px;
        border-top: 1px solid #fff;
    }

    .footer.block > div .section:nth-child(5) .default-content-wrapper h4 {
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: -10px;
        width: 100%;
    }

    .footer.block > div .section:nth-child(5) .default-content-wrapper p {
        display: inline-block;
    }
}
