.download-app-wrapper {
    padding: 0 !important;
    width: 100%;
    max-width: 100% !important;
}

.section.download-app-container {
    margin-bottom: 60px;
}

.download-app-layout {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.download-app-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-app-main-img {
    width: 65%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.download-app-right {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    box-sizing: border-box;
}

.download-app-heading h2 {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    line-height: 1.5;
    color: #667085;
    text-align: left;
}

.download-app-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.download-app-item {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 62%;
}

.download-app-item p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    font-weight: 500;
    color: #344054;
}


.download-app-images {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 8px;
}

.download-app-images img {
    width: 170px;
    height: auto;
    object-fit: contain;
}

@media (width <= 786px) {
    .download-app-layout {
        gap: 53px;
        align-items: center;
        padding: 38px 10px;
        justify-content: end;
    }

    .download-app-wrapper {
        padding: 40px 5px;
    }

    .download-app-right {
        max-width: 61%;
        width: 18%;
        font-family: GTEestiLCDisplayLight, sans-serif;
        gap: 19px;
        padding: 0;
        box-sizing: border-box;
    }

    .download-app-left {
        flex: 0;
        min-width: 310px;
        max-width: 600px;
        margin-left: -40px;
        display: inline !important;
        justify-content: center;
        align-items: center;
    }

    .download-app-main-img {
        width: 100%;
    }

    .download-app-heading h2 {
        font-size: 19px;
        margin: 0;
        color: #667085;
    }

    .download-app-list {
        gap: 20px;
        align-items: center;
        width: 100%;
    }

    .download-app-item {
        display: flex;
        gap: 20px;
        width: 100%;
    }

    .download-app-item p {
        font-size: 13px;
        line-height: 23px;
        margin: 0;
        font-weight: 500;
        color: #344054;
        width: fit-content;
    }

    .download-app-images {
        justify-content: center;
        margin-top: 16px;
        gap: 12px;
    }

    .download-app-images img {
        width: 140px;
        height: auto;
        object-fit: contain;
    }
}

@media (width <= 430px) {
    .download-app-layout {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 34px;
        justify-content: end;
        box-sizing: border-box;
        margin: auto;
    }

    .download-app-left {
        /* width: 6%; */
        min-width: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .download-app-main-img {
        width: 100%;
        max-width: 180px;
        height: auto;
        object-fit: contain;
    }

    .download-app-right {
        min-width: 90px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0;
        max-width: 65%;
    }

    .download-app-heading h2 {
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        margin: 0;
    }

    .download-app-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .download-app-item {
        display: flex;
        gap: 10px;
        width: 100%;
    }

    .download-app-item p {
        font-size: 13px;
        line-height: 20px;
        margin: 0;
        width: fit-content;
    }

    .download-app-images {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        margin-top: 8px;
        width: 100%;
    }

    .download-app-images img {
        width: 44%;
        height: auto;
        object-fit: contain;
    }
}

@media (width <= 380px) {
    .download-app-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 115%;
    }

    .download-app-heading h2 {
        line-height: 17px;
    }

    .download-app-layout {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 19px;
        justify-content: end;
        box-sizing: border-box;
        margin: auto;
    }

    .download-app-item p {
        font-size: 13px;
        line-height: 15px;
        margin: 0;
        width: fit-content;
    }

    .download-app-images {
        margin-top: 0;
        width: 100%;
    }

    .download-app-left {
        min-width: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .download-app-item {
        display: flex;
        gap: 12px;
        width: 100%;
    }

    .download-app-right {
        min-width: 90px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0;
        max-width: 73%;
    }
}
