.already-with-lyca-wrapper {
    padding: 0 !important;
    width: 100%;
    max-width: 100% !important;
    position: absolute;
    top: 760px;
}

.lyca-ui-wrapper {
    max-width: 999px;
    margin: auto;
    padding: 24px;
    background-color: #fff;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter, sans-serif;
    box-shadow: 0 2px 8px rgb(0 0 0 / 5%);
}

.lyca-ui-heading h2 {
    display: flex;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    line-height: 3.48rem;
    color: #384c72;
    margin-bottom: 0.25rem;
}

.lyca-ui-subheading p {
    font-size: 1rem;
    line-height: 1.16rem;
    margin-bottom: 1.2rem;
    color: #667085;
    text-align: center;
    margin-top: 0;
}

.lyca-ui-button-group {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.lyca-ui-button.recharge {
    padding: 10px 20px;
    background-color: #006ae0;
    color: #fff;
    border: none;
    font-weight: 600;
    cursor: pointer;
    border-radius: 21px;
    transition: background-color 0.3s ease;
}

.lyca-ui-button.renew {
    padding: 10px 20px;
    background-color: #e8f4fe;
    color: #344054;
    border: none;
    font-weight: 600;
    cursor: pointer;
    border-radius: 21px;
    transition: background-color 0.3s ease;
}

.lyca-ui-input-group {
    margin-bottom: 20px;
}

.lyca-ui-phone-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 380px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ababab;
}

.lyca-ui-country-code {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    padding: 14px 8px;
    border-right: 1px solid grey;
}

.lyca-ui-phone-input {
    flex: 1;
    padding: 8px 12px;
    border: none;
    font-size: 15px;
}

img.lyca-ui-phone-arrow {
    width: 30px;
    height: auto;
}

.lyca-ui-validation {
      color: #d9534f;
    font-size: 14px;
    margin-top: 0px;
    height: 2rem;
    background-color: #fce38c;
    font-size: .938rem;
    color: #667085;
    border-radius: 2px 2px 8px 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    box-shadow: 9px 8px 14px -4px rgba(131, 128, 128, .2117647059);
    border-top: 3px solid #e37171;
}

.lyca-ui-app-download {
    display: flex;
    align-items: center;
    gap: 16px;
}

.lyca-ui-app-image {
    width: 36px;
    height: auto;
}

.lyca-ui-app-text {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    display: flex;
}

.lyca-ui-arrow-image {
    display: block;
    margin-top: 10px;
    width: 26px;
    height: 21px;
}

.lyca-ui-app-text > div {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 10px;
}

.lyca-ui-app-text > div p {
    font-size: 0.9rem;
    line-height: 1.16rem;
    color: #667085;
    text-align: center;
}

.lyca-ui-app-text > div a {
    font-size: 1.125rem;
    line-height: 1.313rem;
    color: #006ae0;
    text-decoration: none;
}

@media (width <= 1024px) {
    .lyca-ui-wrapper {
    max-width: 700px;
}

    .already-with-lyca-wrapper {
        top: 700px;
    }
}

@media (width <= 768px) {
    .already-with-lyca-wrapper {
        top: 607px;
    }

    .lyca-ui-wrapper {
        max-width: 600px;
    }
    
}

@media (width <= 430px) {
    .lyca-ui-heading h2 {
        font-size: 2rem;
        line-height: 3.48rem;
    }

    .lyca-ui-subheading p {
        font-size: 0.9rem;
    }

    .lyca-ui-button-group {
        margin-bottom: 20px;
        width: 236px;
    }

    .lyca-ui-phone-wrapper {
        gap: 8px;
        width: 336px;
        padding: 0 10px;
    }

    .lyca-ui-app-text > div p {
        font-size: 0.7rem;
        line-height: 1.16rem;
        color: #667085;
        text-align: center;
    }

    .lyca-ui-app-text > div a {
        font-size: 0.8rem;
    }

    .lyca-ui-arrow-image {
        display: block;
        margin-top: 14px;
        width: 19px;
        height: 16px;
    }

    .lyca-ui-app-image {
        width: 31px;
        height: auto;
    }
}
