.already-with-lyca-wrapper {
    padding: 0 !important;
    width: 100%;
    max-width: 100% !important;
    position: absolute;
    top: 756px;
}

.lyca-ui-wrapper {
    max-width: 999px;
    margin: auto;
    padding: 24px;
    background-color: #fff;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter, sans-serif;
    box-shadow: 0 2px 8px rgb(0 0 0 / 5%);
}

.lyca-ui-heading h2 {
    display: flex;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    line-height: 3.48rem;
    color: #384c72;
    margin-bottom: 0.25rem;
}

.lyca-ui-subheading p {
    font-size: 1rem;
    line-height: 1.16rem;
    margin-bottom: 1.2rem;
    color: #667085;
    text-align: center;
    margin-top: 0;
}

.lyca-ui-button-group {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.lyca-ui-button.recharge {
    padding: 10px 20px;
    background-color: #006ae0;
    color: #fff;
    border: none;
    font-weight: 600;
    cursor: pointer;
    border-radius: 21px;
    transition: background-color 0.3s ease;
}

.lyca-ui-button.renew {
    padding: 10px 20px;
    background-color: #e8f4fe;
    color: #344054;
    border: none;
    font-weight: 600;
    cursor: pointer;
    border-radius: 21px;
    transition: background-color 0.3s ease;
}

.lyca-ui-button:hover {
    background-color: #005fa3;
}

.lyca-ui-input-group {
    margin-bottom: 20px;
}

.lyca-ui-phone-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 380px;
    border: 1px solid #ababab;
}

.lyca-ui-country-code {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.lyca-ui-phone-input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #ccc;

    /* border-radius: 4px; */
    font-size: 15px;
}

.lyca-ui-validation {
    color: #d9534f;
    font-size: 14px;
    margin-top: 6px;
}

.lyca-ui-app-download {
    display: flex;
    align-items: center;
    gap: 16px;
}

.lyca-ui-app-image {
    width: 36px;
    height: auto;
}

.lyca-ui-app-text {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    display: flex;
}

.lyca-ui-arrow-image {
    display: block;
    margin-top: 8px;
    width: 24px;
    height: auto;
}

.lyca-ui-app-text > div {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 10px;
}

.lyca-ui-app-text > div p {
    font-size: 0.9rem;
    line-height: 1.16rem;
    color: #667085;
    text-align: center;
}

.lyca-ui-app-text > div a {
    font-size: 1.125rem;
    line-height: 1.313rem;
    color: #006ae0;
    text-decoration: none;
}
